<template>
    <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#" data-toggle="dropdown">
            <i class="icon-bell"></i>
            <span class="badge badge-pill badge-danger"> {{ notifications.length }} </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
                <strong>Notificaciones</strong>
            </div>
            <div v-if="notifications.length">
                <li v-for="item in listar">
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-envelope-o"></i> {{ item.ingresos.msj }}
                        <span class="badge badge-success"> {{ item.ingresos.numero }} </span>
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-tasks"></i> {{ item.ventas.msj }}
                        <span class="badge badge-danger"> {{ item.ventas.numero }} </span>
                    </a>
                </li>
            </div>
            <div v-else>
                <a> <span> Sin notificaciones </span> </a>
            </div>
        </div>
    </li>
</template>

<script>
    export default {
        props: [ 'notification' ],
        data() {
            return {
                lista_notificaciones: []
            }
        },
        computed: {
            listar: function () {
                //return this.notifications[0];
                this.lista_notificaciones = Object.values( this.notifications[0] );
                //return Object.values( this.lista_notificaciones[0] );
                if( this.notifications == '' ) {
                    return this.lista_notificaciones = [];
                }
                else{
                    this.lista_notificaciones = Object.values( this.notifications[0] );
                    if( this.lista_notificaciones.length > 3 ) {
                        return Object.values( this.lista_notificaciones[4] );
                    }
                    else{
                        return Object.values( this.lista_notificaciones[0] );
                    }
                }
            }
        }
    }
</script>